.about {
    margin-bottom: 8rem;
}

/* .about-image {
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.about .about-content .image-container {
    position: relative;
    height: 250px;
    width: 80%;
}

.about .about-content .image-container img {
    opacity: 0.6;
}

.about .about-content p {
    text-align: justify;
    text-indent: 40px;
    border-left: 5px solid hsl(41, 87%, 69%);
    position: absolute;
    bottom: 0;
}


/* Media Queries */
@media (max-width: 767px) {
    .about .about-content .image-container {
        height: 420px;
        width: 95%;
    }
}