.about-page-header {
    min-height: clamp(30px, 40vw, 400px);
    background-image: url("./../../assets/about-page-images/about-page-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.about-page-header .header-content {
    margin-left: 5rem;
}

.about-page-header .header-content .heading {
    display: inline-block;
}

.about-page-header .header-content h2,
.about-page-header .header-content h3 {
    width: 50%;
}



@media (max-width: 767px) {
    /* header-section */
    .about-page-header .header-content {
        padding: 4rem 0;
        margin-left: 1rem;
    }

    .about-page-header .header-content h2,
    .about-page-header .header-content h3 {
        width: 75%;
    }
}