.login-page {
    min-height: 100vh;
    background-image: url("./../../../public/pizza-auth-image.jpg");
}

.login-page .login-container {
    background-color: white;
}

.login-page .form-container {
    margin: 0 10rem;
}

.login-page input:focus {
    outline: none;
    box-shadow: none;
}

.login-page .btn {
    background-color: hsl(18, 92%, 49%);
}

.login-page .btn:hover {
    text-decoration: underline;
    background-color: hsl(18, 92%, 45%);
}

/* Media Queries */
@media (max-width: 767px) {
    .login-page .form-container {
        margin: 0 1rem;
    }
}