.about {
    margin-bottom: 120px;
}

.about-image {
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about .container h1 {
    font-size: 40px;
}

.about .container p {
    text-align: justify;
    text-indent: 40px;
}