#row-div {
    height: 100%;
    margin-top: 30px;
}

.row .pizza-left-img {
    background: url("/pizzaLeft.jpg") no-repeat center center;
    background-size: cover;
}

#form-div {
    display: flex;
    justify-content: center;
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form textarea {
    resize: none;
}

@media (max-width: 767px) {
    #row-div {
        background: url("/pizzaLeft.jpg") no-repeat center center;
        background-size: cover;
        margin: 50px 0 100px 0;
    }

    .row .pizza-left-img {
        background: none;
        display: none;
    }

    #form-div {
        height: 500px;
    }

    form {
        font-size: 0.9rem;
        margin: 30px 0;
        width: 85%;
        background-color: hsla(0, 0%, 82%, 0.4);
        border: 1px solid #6c757d;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 1px 1px 20px 0.5px hsla(0, 0%, 0%, 0.5);
    }
}