.footer {
    background-color: #121619;
    font-size: 0.8rem;
}

.footer .social-links {
    display: flex;
    justify-content: center;
}

.icon {
    margin-bottom: 2px;
    margin-right: 5px;
}

.footer a:hover {
    transform: translateY(-5px);
}

@media (max-width: 767px) {
    .footer .social-links {
        font-size: 0.8rem;
        margin: 0 20px;
    }
}