.footer {
    margin-top: auto;
    background-color: #323232;
}

.footer-content {
    display: flex;
    gap: 100px;
}

.footer-content-left {
    width: 50%;
    margin-left: 120px;
}

#privacy-link {
    margin-left: 12px;
}

.social-links {
    display: flex;
    justify-content: space-evenly;
}

.footer .social-links a {
    text-align: center;
    height: 32px;
    width: 32px;
    border: 1px solid white;
    border-radius: 50%;
}

.icon {
    font-size: 20px;
    margin-top: 3px;
}

.footer .social-links a:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease 0s;
}

@media (max-width: 767px) {
    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .footer-content h2 {
        text-align: center;
    }

    .footer-content-left {
        width: 80vw;
        margin-left: 0;
        border-bottom: 1px solid white;
        padding-bottom: 25px;
    }

    .footer-content-left p {
        text-align: justify;
    }
    
    .links {
        text-align: center;
    }
}

@media (max-width: 375px) {
    .links {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}