#home-page {
    padding: 95px 48px;
}

.headerContainer {
    height: 70vh;
    background: url("/pizza.jpeg") no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: end;
}

.welcome-text {
    margin-left: 50px;
    margin-bottom: 20px;
}

.headerContainer h1 {
    color: #E85D04;
    font-size: 80px;
}

.headerContainer p {
    color: hsl(0, 0%, 25%);
    font-size: 35px;
}


@media (max-width: 767px) {
    #home-page {
        padding: 75px 16px 95px 16px;
    }

    .headerContainer{
        justify-content: center;
    }

    .welcome-text {
        margin-left: 15px;
    }

    .headerContainer h1 {
        font-size: 40px;
    }

    .headerContainer p {
        font-size: 20px;
    }
}