.headerContainer {
    height: 70vh;
    background: url("/pizza.jpeg") no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: end;
}

.welcome-text {
    margin-left: 50px;
    margin-bottom: 20px;
}

.headerContainer h1 {
    color: #E85D04;
    font-size: 80px;
}

.headerContainer p {
    color: hsl(0, 0%, 25%);
    font-size: 35px;
}


@media (max-width: 767px) {
    .headerContainer{
        justify-content: center;
    }

    .welcome-text {
        /* width: clamp(280px, 85vw, 100vw); */
        margin-left: 15px;
        /* border-radius: 10px; */
        /* padding: 20px; */
        /* background-color: hsla(206, 16%, 8%, 0.8); */
        /* color: white; */
        /* border: 1px solid hsla(0, 0%, 100%, 0.5); */
    }

    .headerContainer h1 {
        font-size: 40px;
        /* color: white; */
    }

    .headerContainer p {
        font-size: 20px;
        /* color: hsla(0, 0%, 100%, 0.5); */
    }
}