.image-container {
    width:100%;
    height:200px;
    overflow:hidden;
}

img {
    width:100%;
    height:100%;
    object-fit:cover;
}

.card:hover {
    background-color: hsl(210, 17%, 95%);
    cursor: pointer;
    box-shadow: 5px 5px 15px 1px hsl(0, 0%, 75%);
}

@media (max-width: 767px) {   
    .image-container {
        height:175px;
    }
}