.row .col .card {
    border: 1px solid hsla(208, 7%, 46%, 0.12);
    box-shadow: 5px 5px 15px 5px #00000015;
}

.image-container {
    width:100%;
    height:200px;
    overflow:hidden;
}

img {
    width:100%;
    height:100%;
    object-fit:cover;
}

.card:hover {
    border: 1px solid hsla(208, 7%, 46%, 0.4) !important;
    background-color: hsl(210, 17%, 98%);
    cursor: pointer;
    box-shadow: 5px 5px 15px 5px hsla(0, 0%, 0%, 0.072);
}