.register-page {
    min-height: 100vh;
    background: url("./../../../public/pizza-auth-image.jpg") no-repeat center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-page .registration-container {
    margin-right: 40%;
}

.register-page .card {
    color: white;
    background-color: transparent;
    backdrop-filter: blur(5px);
}

.register-page form input {
    color: white;
    background-color: transparent;
}

.register-page form input:focus {
    color: white;
    background-color: transparent;
    outline: 2px solid green;
}

.register-page form input::placeholder {
    color: white;
}

.register-page .register-button .btn:hover {
    text-decoration: underline;
}


/* Media Queries */
@media (max-width: 767px) {
    .register-page .registration-container {
        margin-right: 0;
    }
}