.registration-page {
    background: url("./../../../public/pizza-auth-image.jpg") no-repeat center;
}

.registration-page .registration-container {
    background-color: white;
}

.registration-page .form-container {
    margin: 0 10rem;
}

.registration-page input:focus {
    outline: none;
    box-shadow: none;
}

.registration-page .btn {
    background-color: #df2620;
}

.registration-page .btn:hover {
    text-decoration: underline;
    background-color: #c9221d;
}

.registration-container .desc a {
    color: #df2620;
    text-decoration: none;
}

.registration-container .desc a:hover {
    text-decoration: underline;
}


/* Media Queries */
@media (max-width: 767px) {
    .registration-page .form-container {
        margin: 0 1rem;
    }
}