.about-page-header {
    min-height: clamp(30px, 40vw, 400px);
    background-image: url("./../../assets/about-page-images/about-page-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.about-page-header .header-content {
    margin-left: 5rem;
}

.about-page-header .header-content .heading {
    display: inline-block;
}

.about-page-header .header-content h2,
.about-page-header .header-content h3 {
    width: 50%;
}

/* about-content */
.about-content .icon {
    color: #df2620;
}
.about-content .quality-image {
    width: 45px;
    filter: invert(19%) sepia(93%) saturate(4842%) hue-rotate(356deg) brightness(95%) contrast(83%);    
}

/* why-choose-use-section */
.why-choose-us-section{
    background-color: #191919;
}

.why-choose-us-section .icon {
    filter: invert(100%) sepia(5%) saturate(19%) hue-rotate(213deg) brightness(105%) contrast(100%);
}


@media (max-width: 767px) {
    /* header-section */
    .about-page-header .header-content {
        padding: 4rem 0;
        margin-left: 1rem;
    }

    .about-page-header .header-content h2,
    .about-page-header .header-content h3 {
        width: 75%;
    }
}