.order-btn {
    background-color: #df2620 !important;
}

.order-btn:hover {
    background-color: #c9221d !important;
}

/* header-section */
.header-container {
    min-height: clamp(450px, 40vw, 550px);
    background-image: url("./../../../public/pizza-header-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.header-container .hero-content {
    margin-left: 5rem;
}

.header-container .hero-content .header-small-text {
    color: #df2620;
}

.header-container .hero-content h1 {
    font-size: clamp(2.2rem, 4.5vw, 4rem);
}

.header-container .hero-content p {
    max-width: 31vw;
    font-size: clamp(0.95rem, 1.6vw, 1.5rem);
}


.welcome-text {
    animation: fadeIn 2s;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


/* qaulities-section */
.qualities-section .row .img-container img {
    width: 70px;
    overflow: hidden;
}

/* Media Queries */
@media (max-width: 767px) {
    /* header-section */
    .header-container .hero-content {
        margin-left: 0;
    }
    .header-container .hero-content p {
        max-width: 70vw;
    }

    /* qualities-section */
    .ad-section .row .img-container img {
        width: 50px;
    }
}