.header {
    margin-bottom: 4rem;
}

.header-container {
    height: 70vh;
    background: url("./../../../public/pizza-header-image.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.welcome-text {
    margin-left: clamp(1rem, 8vw, 7.5rem);
    line-height: 1;
}

.header-container h1 {
    color: hsl(18, 92%, 45%);
    font-size: clamp(1.6rem, 5vw, 3.7rem);
}

.header-container p {
    color: hsl(0, 0%, 25%);
    font-size: clamp(1rem, 3vw, 1.9rem);
}


@media (max-width: 768px) {
    .header-container {
        height: 45vh;
    }
}