.header {
    margin-bottom: 4rem;
}

.header-container {
    height: 70vh;
    background-image: url("./../../../public/pizza-header-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

/* .header-container .header-text {
    margin-left: 3rem;
} */

.header-container .header-text .header-small-text {
    color: #df2620;
}

.welcome-text {
    animation: fadeIn 2s;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


@media (max-width: 768px) {
    .header-container {
        height: 45vh;
    }
}