.navbar-collapse li a {
    cursor: pointer;
}

.navbar-collapse a, .navbar-collapse li {
    list-style-type: none;
    text-decoration: none;
    color: black;
}

.navbar-nav a.active {
    color: #df2620;
    text-decoration: underline;
}

.navbar-nav .account-btn {
    background-color: #df2620;
}

.navbar-nav .account-btn:hover {
    background-color: #c9221d;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none;
    border: none;
}


/* Media Queries */
@media (max-width: 991px) {
    /* .navbar .container-fluid {
        justify-content: center !important;
    } */

    /* .navbar .navbar-toggler, .navbar .navbar-brand {
        margin-right: auto;
    } */
    /* .navbar .navbar-brand {
        display: flex;
        justify-self: center !important;
    } */
}