* {
    margin: 0;
    padding: 0;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

html body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    /* background-color: palegreen; */
}