@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Outfit;
    scroll-behavior: smooth;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

html body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}